# -------------------------
# DEV Deployment
# -------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-dev-deployment
  labels:
    app: flask-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-dev
  template:
    metadata:
      labels:
        app: flask-dev
    spec:
      imagePullSecrets:
        - name: roseaw-dockerhub
      containers:
        - name: flask
          image: cithit/qus4:dev      # <-- MUST use dev tag
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: nfs-storage
              mountPath: /nfs
      volumes:
        - name: nfs-storage
          persistentVolumeClaim:
            claimName: flask-pvc

---
# -------------------------
# DEV Service
# -------------------------
apiVersion: v1
kind: Service
metadata:
  name: flask-dev-service
spec:
  type: LoadBalancer                 # You use LB so KEEP this
  selector:
    app: flask-dev
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
