pipeline {
    agent any

    environment {
        DOCKERHUB_CRED = 'dockerhub'
        KCFG_FILE = 'kubeconfig-qus4'
        IMAGE_NAME = "cithit/qus4"
    }

    stages {

        stage('Checkout Code') {
            steps {
                cleanWs()
                checkout scm
            }
        }

        stage('Load Kubeconfig') {
            steps {
                withCredentials([file(credentialsId: "${KCFG_FILE}", variable: 'KCFG')]) {
                    sh '''
                        mkdir -p ~/.kube
                        cp "$KCFG" ~/.kube/config
                        chmod 600 ~/.kube/config
                        echo "[OK] Kubeconfig loaded"
                    '''
                }
            }
        }

        stage('Test kubectl') {
            steps {
                sh '''
                    echo "[TEST] kubectl config view"
                    kubectl config view

                    echo "[TEST] kubectl get nodes"
                    kubectl get nodes
                '''
            }
        }

        stage('Build & Push DEV Image') {
            steps {
                script {
                    BUILD_TAG = "build-${BUILD_NUMBER}"
                    FULL_TAG = "${IMAGE_NAME}:${BUILD_TAG}"
