apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-dev-deployment
  labels:
    app: flask-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-dev
  template:
    metadata:
      labels:
        app: flask-dev
    spec:
      imagePullSecrets:
        - name: roseaw-dockerhub
      containers:
        - name: flask
          image: cithit/qus4:latest
          ports:
            - containerPort: 5000
          env:
            - name: DB_NAME
              value: "dev_contacts.db"
          volumeMounts:
            - name: nfs-storage
              mountPath: /nfs
      volumes:
        - name: nfs-storage
          persistentVolumeClaim:
            claimName: flask-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: flask-dev-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 5000
  selector:
    app: flask-dev

